* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav-link {
    padding: 10px 20px;
    border: 1px solid red;
    transition: .3s;
}
.main-header {
    border: 1px solid red;
}
.main {
    border: 1px solid red;
}
.footer {
    border: 1px solid red;
}
.nav-link:hover {
    cursor: pointer;
}
.section {
    color: rgb(22, 19, 18);
}
.section-title {
    color: red;
}